{{#app-panel title="Report Parameters"}}

  {{app-alert cssClass="alert-danger" msg=alertMsg isVisible=alertIsVisible}}

  <form>
    <div class="form-group">
      <label>GitHub Repos</label>
      {{#power-select
        options=repos
        selected=selectedRepos
        onchange=(action (mut selectedRepos))
        placeholder="Select repos"
        searchField="name"
        multiple=true
        as |repo|}}
        {{repo.name}}
      {{/power-select}}
    </div>
    <hr>
    <button class="btn btn-default" {{action "validate" selectedRepos}}>Submit</button>
  </form>

{{/app-panel}}

{{outlet}}
