<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Report Parameters</h3>
  </div>
  <div class="panel-body">

    <form>
      <div class="form-group">
        <label>GitHub Repos</label>
        {{#power-select
          options=repos
          selected=selectedRepo
          onchange=(action (mut selectedRepo))
          placeholder="Select repo"
          searchField="name"
          as |repo|}}
          {{repo.name}}
        {{/power-select}}
      </div>
      <hr>
      <button class="btn btn-default" {{action "submit" selectedRepo}}>Submit</button>
    </form>

  </div>
</div>

{{outlet}}
