{{#app-panel title="Report Parameters"}}

  <form>
    <div class="form-group">
      <label>GitHub Repos</label>
      {{#power-select
        options=model
        selected=selectedRepo
        onchange=(action (mut selectedRepo))
        placeholder="Select repo"
        searchField="name"
        as |repo|}}
        {{repo.name}}
      {{/power-select}}
    </div>
    <hr>
    <button class="btn btn-default" {{action "submit" selectedRepo}}>Submit</button>
  </form>

{{/app-panel}}

{{outlet}}
