<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "report-comparison" class="navbar-brand"}}Ember Reporting Dashboard{{/link-to}}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#link-to "report-comparison" tagName="li"}}
          {{link-to "Repo Comparison Report" "report-comparison"}}
        {{/link-to}}
        {{#link-to "report-details" tagName="li"}}
          {{link-to "Repo Details Report" "report-details"}}
        {{/link-to}}
        {{#link-to "report-links" tagName="li"}}
          {{link-to "Report Links" "report-links"}}
        {{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Welcome Ember Fan!</p></li>
      </ul>
    </div>
  </div>
</nav>
