<div class="content-wrapper">
  <div class="container-fluid">
    <div class="alert alert-danger">
      An internal server error occurred. You may have been rate limited by GitHub's API.
    </div>
  </div>
</div>
